$FontOdibeSans: 'Odibee Sans', cursive;

.cards {
    text-decoration:none;
    height: 100%;
        h2{
            color:#fff;
            font-family: $FontOdibeSans;
            font-size: 2rem;
        }
        h6{
            color: white;
            font-family: $FontOdibeSans;
            text-transform: uppercase;
        }
        img{
            width: 40%;
        }
}