$FontYanone: 'Yanone Kaffeesatz', sans-serif;
$FontOdibeSans: 'Odibee Sans', cursive;
$ColorVioleta: rgb(58, 3, 75);

.itemListContainer{
    padding-top: 2rem;
    background-color: $ColorVioleta;
    color: white;
}

.greeting{
    text-align: center;
    font-family: $FontYanone;
}

.subtitle{
    text-align: center;
    font-family: $FontYanone;
}

.itemCountContainer #itemName{
    text-align: center;
}

