$FontYanone: 'Yanone Kaffeesatz', sans-serif;
$FontOdibeSans: 'Odibee Sans', cursive;
$ColorVioleta: rgb(58, 3, 75);

.itemListContainer{
    padding-top: 2rem;
    background-color: $ColorVioleta;
    color: white;
}


