@import './GlobalStyles.scss';

.cards{
    background-color: $ColourLightViolet;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    h2{
        font-family: $FontOdibeSans;
        font-size: 3rem;
    }
    
    h6{
        font-size: 1.2rem;
        font-family: $FontRoboto;
    }    
}

