@import './GlobalStyles.scss';

h2{
    font-family: $FontYanone;
    font-size: 3rem;
}

h6{
    font-size: 1.2rem;
}

.cards{
    background-color: $ColourLightViolet;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}