$FontOdibeSans: 'Odibee Sans', cursive;
$FontYanone: 'Yanone Kaffeesatz', sans-serif;
$ColorVioleta: rgb(58, 3, 75);

.navbar{
    background-color: $ColorVioleta;
}

.navbar .brandCartDiv{
    height: 3rem;
}

.navbar .navbar-brand{
    font-family: $FontOdibeSans;
    margin-left: 2px;
    font-size: 200%;
}

.navbar .cart{
    color: white;
    margin-right: 4rem;
    margin-left: 1rem;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.navbar .nav-item{
    font-family: $FontYanone;
    font-size: 110%;
}

.navbar .btn{
    font-family: $FontYanone;
    font-size: 110%;
}

